.navWrapper {
    background-color: #EAAD00;
    height: 121px;
}

.logo {
    width: 212px;
    height: 56px;

}

.navText {
    color: white;
    font-size: 29.17px;
    padding: 0px 74px;
}

.search {
    width: 274px;
    height: 51px;
    font-size: 20px;
    background-color: #FFC400;
    color: white !important;
    border: none;
    border-radius: none !important;
}

.hero_header {
    color: white;
    font-size: 66.67px;
}

.white_Sub_Title {
    font-size: 29.17px;
    color: white;
    padding: 50px 0px;
}

.black_sub_title {
    font-size: 29.17px;
    color: black;
    padding: 50px 0px;
}

.contained_btn {
    width: 182px;
    height: 69px;
    font-size: 20.83px;
    font-weight: 500;
    background-color: #00BFCB;
    color: White;
    border: none;
    border-radius: 7px;
}

.outlined_btn {
    width: 182px;
    height: 69px;
    font-size: 20.83px;
    font-weight: 500;
    background-color: #FFC400;
    color: White;
    border: 2px solid white !important;
    border-radius: 7px;
}

.white_heading {
    font-size: 75px;
    color: white;
    padding-bottom: 50px;
}

.black_heading {
    font-size: 75px;
    color: black;
    padding-bottom: 50px;
}

.white_sub_heading {
    font-size: 33.33px;
    color: white;
    padding-bottom: 100px;
}

.black_sub_heading {
    font-size: 33.33px;
    color: black;
    padding-bottom: 100px;
}
.card_img{
    width: 342px;
    height: 353px;
}
.card_body{
    background-color: #FFC400;
}
.card_title{
    font-size: 37.5px;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 25px;
}
.card_text{
    font-size: 25px;
    text-align: center;
    color: white;
}