.sectionWrapper{
    background-color: #FFC400;
    padding-top: 193px;
}
.img_1{
    width: 419px;
    height: 604px;
}
.pl_35{
    padding-left: 35px;
}
.as{
    padding-top: 140px;
    font-size: 50px;
}
.a{
    padding-top: 76px;
    font-size: 50px;
}