.HeroSectionWrapper {
    background-color: #FFC400;
    padding-top: 193px;
}

.sectionWrapper {
    background-color: #FFC400;
}

.img_1 {
    width: 419px;
    height: 604px;
}

.as {
    padding-top: 140px;
    font-size: 50px;
    padding-bottom: 216px;
}

.a {
    padding-top: 76px;
    font-size: 50px;
}

.bg {
    background-image: Url("../images/img-12.png");
    padding: 165px 0px;
}

.icon {
    padding-bottom: 58px;
    display: flex;
    justify-content: center;
}